body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #app {
    max-width: 600px;
    margin: 0 auto;
  }
  

  .list-group-item {
    display: flex;
    justify-content: space-between;
    
  }


